/escBaileDerby/EscBaileWeb/EscBaileWeb/dist/
/escBaileDerby/EscBaileWeb/EscBaileWeb/build/
/escBaileDerby/EscBaileWeb/EscBaileWeb/nbproject/private/
/escBaileDerby/PoblarBD_DB/nbproject/private/
/escBaileDerby/PoblarBD_DB/build/
/escBaileDerby/PoblarBD_DB/dist/
/EJBs/Affablebean_01/nbproject/private/
/EJBs/Tstwsprodpojo/nbproject/private/
/EJBs/Affablebean_01/build/
/EJBs/Affablebean_01/dist/
/EJBs/Tstwsprodpojo/build/
/EJBs/Tstwsprodpojo/dist/
/EJBs/tstJson_02/nbproject/private/
/EJBs/tstJson_02/build/
/EJBs/tstJson_02/dist/
/EJBs/tstJSON_00/nbproject/private/
/EJBs/tstJSON_00/build/
/EJBs/WsJson1/nbproject/private/
/EJBs/WsJson1/dist/
/EJBs/WsJson1/build/
/EJBs/tstWsJsonPojo1/nbproject/private/
/EJBs/tstWsJsonPojo1/build/
/EJBs/tstWsJsonPojo1/dist/
/EJBs/tstWSJson/nbproject/private/